{% extends "base.html" %}

{% block title %}Manage Monitors{% endblock %}

{% block content %}

<h2>Manage Monitors</h2>
{% if error %}
<p>
    <strong>Error:</strong> {{error}}
</p>

{% elif link %}
<p> A magic link has been emailed to <code>{{link.email}}</code>. See you soon!</p>
{% else %}
<p>
    Enter your email to retrieve a magic link to manage your monitors.
</p>
<form action="/management" method="post">
    <label for="email"><strong>Email Address:</strong></label>
    <input type="text" id="email" name="email" placeholder="john@doe.com">
    <button type="submit">Submit</button>
</form>
{% endif %}
{% endblock %}